<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <!-- Shared CSS libraries -->
  {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"> #}
  {# <link rel="stylesheet" href="css/global.css"> #}
  <link rel="stylesheet" href="/css/pico.min.css" />

  <!-- Page-specific CSS -->
  {% block styles %}{% endblock %}
</head>
<body>

    {% include "components/navbar.njk" %}
    {% block content %}
    

    {% endblock %}

    <script src="/js/themeSwitch.js"></script>




</body>
</html>
