<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <!-- Shared CSS libraries -->

  <link rel="stylesheet" href="/css/pico.min.css" />

  <!-- Page-specific CSS -->
  {% block styles %}
  
  {% endblock %}
</head>
<body>

    {% include "components/navbar.njk" %}
    {% block content %}
    

    {% endblock %}

    <script src="/js/themeSwitch.js"></script>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
    <script>
    if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
    </script>
</body>
</html>
