<head>

    <style>

    nav{
        display: flex;
        width: 100%;
    }



    </style>
</head>

<nav class="container">
    <ul>
        <li>
            <strong>
                <a href="/" class="nav-logo">{{ site.name or "My Site" }}</a>
            </strong>
        </li>
    </ul>

    <ul class="">

        {% for item in navigation.items %}
        <li class="">
        <a href="{{ item.url }}" class="{% if page.url == '/' %}active{% endif %}">{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>

</nav>
