<head>

    <style>

    @import url(css/pico.min.css);
    @import url(css/globals.css);


    .nav-container{
        width: 100%;
        background-color: var(--pico-background-color);
        border-bottom: 1px solid lightgrey;
        top: 0;
        position: sticky;

        z-index: 100;
    }




    </style>
</head>

<div class="nav-container">

    <nav class="container">
        <ul>
            <li>
                <strong>
                    <a href="/" class="nav-logo">{{ site.name or "My Site" }}</a>
                </strong>
            </li>
        </ul>
    
        <ul class="">
    
            {% for item in navigation.items %}
            <li class="">
            <a href="{{ item.url }}" class="{% if page.url == '/' %}active{% endif %}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
    
    </nav>
</div>

