---
layout: home-layout.njk
title: Home
---

<div class="hero">
  <h1>Welcome to My Project</h1>
  <p>Your project description here</p>
  {# <a href="/docs" class="cta-button">View Documentation</a> #}
  {# <a href="/docs/getting-started/" class="cta-button">View Documentation</a> #}
  <a href="/docs/" class="cta-button">View Documentation</a>
</div>